body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    z-index: -1;
}
main {
    flex: 1 0 auto;
}
.parallax-container {
    height: 500px;
}
.LOGO {
    margin-left: 30px;
}
.h-con {
    margin-left: 15%;
    margin-right: 15%;
}
.legal {
    position: fixed;
    bottom: 1vh;
}